body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('/fundo.jpeg'); /* Caminho correto da imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Transparência no formulário */
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#add-item {
    margin-top: 10px;
}

.item {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    text-align: right;
}
